<div class="container add-post-div">
<form class="new-post-form mx-auto">
  <div class="mb-3">
    <label for="post-title" class="form-label">Title</label>
    <input type="text" class="form-control" id="post-title">
  </div>
  <div class="mb-3">
    <label for="post-text" class="form-label">Text</label>
    <textarea type="text" class="form-control" id="post-text"></textarea>
  </div>
  <button type="submit" class="btn btn-dark">Submit</button>
</form>
</div>

{{#if posts.length}}
<section>
  <h2 class = "title">Your Posts</h2>
  <ol>
    {{#each posts as |post|}}
    <li>
      {{> post-info post}}
      <a href="/dashboard/edit/{{post.id}}" class="edit-link link-info">Edit post</a>
    </li>
    {{/each}}
  </ol>
</section>
{{/if}}

<script src="/js/add-post.js"></script>