<div class="container">
<form class="edit-post-form">
  {{> post-info post}}
  <div class="mb-3">
    <label for="edit-post-title" class="form-label">Title</label>
    <input type="text" class="form-control" id="edit-post-title">
  </div>
  <div class="mb-3">
    <label for="edit-post-text" class="form-label">Text</label>
    <textarea type="text" class="form-control" id="edit-post-text"></textarea>
  </div>
  <button type="submit" class="btn btn-dark">Save Post</button>
  <button type="submit" class="delete-post-btn btn btn-dark">Delete Post</button>
</form>
</div>


{{> comments post.comments}}

<script src="/js/edit-post.js"></script>
<script src="/js/delete-post.js"></script>
<script src="/js/comment.js"></script>
